

<div class="home-container">
  <header>
    <img class="icon" src="/estoque-frontend/src/assets/mercado-icon.png" alt="">
    <h2>Mercado Chapadão</h2>
    <p>Sistema de gerenciamento de estoque</p>
  </header>

    <nav>
      <button mat-raised-button color="primary" type="submit"></button>
      <button mat-raised-button color="primary" type="submit"></button>
      <button mat-raised-button color="primary" type="submit"></button>
    </nav>
    <button (click)="logout()">Sair</button>
  </div>