

<div class="home-container">
  <header>
    <img class="icon" src="/estoque-frontend/src/app/assets/mercado-icon.png" alt="">
    <h2 class="name">Mercado Chapadão</h2>
  </header>
  <p class="pg">Sistema de gerenciamento de estoque</p>

    <nav>
      <button mat-raised-button color="primary" type="submit"></button>
      <button mat-raised-button color="primary" type="submit"></button>
      <button mat-raised-button color="primary" type="submit"></button>
    </nav>
    <button (click)="logout()">Sair</button>
  </div>