.bg-login {
  width: 100%;
  min-height: 66%;
  background-color: green;
  border-radius: 0 0 3% 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.login-container {
  position: absolute;
  z-index: 1;
  display: block;
  max-width: 350px;
  width: 100%;
  min-height: 50%;
  margin-top: 15%;
  padding: 22px;
  border: 1px solid #ccc;
  border-radius: 9%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(14, 13, 13, 0.2);
}

.form-group {
  margin-bottom: 16px;
}

.login {
  color: #161616;
  font-weight: 500;
  font-size: 1.5rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 35px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #e4e4e4;
  box-sizing: border-box;
}

button[mat-raised-button] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #008000;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  color: #f9f9f9;
  text-decoration: none;
}